<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainLayout">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" href="css/loginStyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://mdbootstrap.com/previews/docs/latest/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://mdbootstrap.com/previews/docs/latest/css/mdb.min.css" rel="stylesheet"/>
</head>

<body>
<div class="wrapper">
    <div style="position:relative;z-index:1; alignment:center;" class="container" layout:fragment="content">
        <form class="form" method="post" action="/login">
             <h1>Welcome</h1>
             <label class="col-md-4 col-md-offset-4"><span th:utext="${successMessage}" style="color: #aa07b3"></span></label>
             <input type="text" name="username" placeholder="Enter Username or Email"/>
             <input type="password" name="password" placeholder="Password"/>
             <label style="align-text:center;" th:if="${param.error}" class="text-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid username or password.</label>
                <br/>
                <button type="submit">Login</button>
                <br/>
                <br/>
            <p>Don't have an account? <a href="/registration">SignUp</a></p>
        </form>
    </div>

    <ul style="position:initial; z-index:0; height:100%" class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/jquery-3.2.1.min.js"></script>
<!-- Tooltips -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
</body>
</html>